body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content table {
    margin: 1rem;
}

.content tr, td, th {
    outline: 1px solid black;
}